* {
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #272626;
  --black-lite: #6e6e6e;
  --brown: #d8d4bc;
  --pink: #f54896;
  --green: #bfe04d;
  --white: #f3f2f2;
  --lite-blue: #c8e0e3;
  --dark-blue: #71b1b9;
  --orange: #ffb900;

  --num-of-topics: 4;
}


#container {
width: 250px;
  padding: 1em;
  background-color: var(--white);
  margin-bottom: 2em;
  border-bottom: 2px solid var(--black-lite);
  border-left: 2px solid var(--black-lite);
  border-right: 2px solid var(--black-lite);
border-top: 2px solid var(--black-lite);
}


.d_reg{
width: 102%;
 
}
.d_cont{
display: block;

}

button {
    background-color: var(--green);
    display: block;
    padding: 2px 12px;
    text-align: center;
    border: 1px solid var(--black);
    border-radius: 10px;
    font-weight: bold;
    color: var(--black);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: "neue-pixel", sans-serif;
    position: relative; /* добавляем относительное позиционирование */
    margin-top: 10px;
}

button::before { /* добавляем псевдоэлемент ::before для создания белой рамки */
    content: "";
    position: absolute;
    top: 0px; /* на 2px меньше, чем граница */
    left: 0px; /* на 2px меньше, чем граница */
    right: 1px; /* на 2px меньше, чем граница */
    bottom: 1px; /* на 2px меньше, чем граница */
    border: 2px solid var(--white); /* белая рамка */
    border-right: none; /* убираем правую часть рамки */
    border-bottom: none; /* убираем нижнюю часть рамки */
    border-radius: 10px; /* такой же радиус, как и у кнопки */
}


button:hover{
background-color: var(--orange);
}a{
text-decoration: none;
color: black;
}

select {
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
    outline: none;
    background-image: url(/siteP1/img/select15.png);
    background-repeat: no-repeat;
    background-position: right center;
    appearance: none;
    padding-right: 20px;
    font-family: "unlearned";
}
input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  resize: none;

}
label {
font-family: "unlearned";
}