@font-face {
  font-family: "mini-pixel";
  src: url("1.ttf");

}

@font-face {
  font-family: "neue-pixel";
  src: url("1.ttf");

}

@font-face {
  font-family: "unlearned";
  src: url("1.ttf");

}

@font-face {
  font-family: "pixel-cyr";
  src: url("1.ttf");
}
